* {
    font-family: CaskaydiaCove Nerd Font;
    font-size: 16px;
}

window#waybar {
    background-color: #1e2127;
    /* background-color: transparent; */
    border: 1px solid #5c6370;
    /* opacity: 0.9; */
    border-radius: 7px;
    color: #abb2bf;
}

/* remove default gtk button hover effect */
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #abb2bf;
    border: none;
    margin: 0 1px;
}

#workspaces button.urgent {
    color: #ffca85;
}

#workspaces button.active {
    color: #61afef;
}

.module {
    margin-right: 10px;
    background-color: transparent;
}

#cpu {
    color: #ffca85;
}

#memory {
    color: #6be6e6;
}

#clock {
    color: #61ffca;
}

#custom-jalali_date {
    color: #3fc6de;
}

#custom-gregorian_date {
    color: #6be6e6;
}

#custom-usdt_price {
    color: #61ffca;
}

#custom-btc_price {
    color: #ffca85;
}

#custom-eth_price {
    color: #cfc3fb;
}
